{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"src/kotoba/lang/checkpointer/blockmap.cljk" ".cljc"
  "src/kotoba/lang/checkpointer/car.cljk" ".cljc"
  "src/kotoba/lang/checkpointer/cli.cljk" ".clj"
  "src/kotoba/lang/checkpointer/commit.cljk" ".cljc"
  "src/kotoba/lang/checkpointer/crypto.cljk" ".cljc"
  "src/kotoba/lang/checkpointer/dagcbor.cljk" ".cljc"
  "src/kotoba/lang/checkpointer/dispatch.cljk" ".cljc"
  "src/kotoba/lang/checkpointer/fsutil.cljk" ".clj"
  "src/kotoba/lang/checkpointer/http_jdk.cljk" ".clj"
  "src/kotoba/lang/checkpointer/index.cljk" ".cljc"
  "src/kotoba/lang/checkpointer/keystore.cljk" ".clj"
  "src/kotoba/lang/checkpointer/msgpack.cljk" ".cljc"
  "src/kotoba/lang/checkpointer/mst.cljk" ".cljc"
  "src/kotoba/lang/checkpointer/pin.cljk" ".clj"
  "src/kotoba/lang/checkpointer/sidecar.cljk" ".clj"
  "src/kotoba/lang/checkpointer/spool.cljk" ".clj"
  "test/kotoba/lang/checkpointer/commit_test.cljk" ".clj"
  "test/kotoba/lang/checkpointer/crypto_test.cljk" ".clj"
  "test/kotoba/lang/checkpointer/dagcbor_test.cljk" ".clj"
  "test/kotoba/lang/checkpointer/dispatch_test.cljk" ".clj"
  "test/kotoba/lang/checkpointer/http_jdk_test.cljk" ".clj"
  "test/kotoba/lang/checkpointer/index_test.cljk" ".cljc"
  "test/kotoba/lang/checkpointer/keystore_test.cljk" ".clj"
  "test/kotoba/lang/checkpointer/msgpack_test.cljk" ".clj"
  "test/kotoba/lang/checkpointer/mst_test.cljk" ".clj"
  "test/kotoba/lang/checkpointer/pin_test.cljk" ".clj"
  "test/kotoba/lang/checkpointer/sidecar_test.cljk" ".clj"
  "test/kotoba/lang/checkpointer/vectors.cljk" ".clj"}}
